*{margin: 0px;padding: 0px}
a{text-decoration: none}
li{list-style: none}

.container{
	width: 1200px;
	font-size: 14px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	
}
.container .nav{
	width: 100%;
	height: 72px;
	position: absolute;
}

.container .nav  .logo{
	display:inline-block;
	position: absolute;
	top: 10px;
}
.container .nav  .logo img{
	height: 42px;
	width: 92px;
}
.container .nav  .location{
	position: absolute;
	left: 150px;
	top: 25px;
	
}
.container .nav  .location img:first-of-type{
	width: 12px;
	height: 14px;
	margin-left: 3px;
}
.container .nav  .location span{
	margin-left: 3px;
}
.container .nav .location img:last-of-type{
	width: 9px;
	height: 5px;
	margin-left:3px;
	position: absolute;
	left: 55px;
	top: 8px;
}
.container .nav .shouYe{
	position: absolute;
	left: 250px;
	top: 25px;
}
.container .nav .shouYe a{
	color: black;
}
.container .nav .shouYe a:hover{
	color: red;
	cursor: pointer;
}
.container .nav .nav_in{
	position: absolute;
	right: 400px;
	top: 13px;
}
.container .nav .nav_in div:first-of-type{
	position: absolute;
	width: 50px;
	height:42px;
	border-bottom-left-radius: 27px;
	border-top-left-radius: 27px;
	background: #f8f8f8;
	left: -50px;
}
.container .nav .nav_in div img{
	position: absolute;
	width: 17px;
	height: 18px;
	left: 20px;
	top: 12px;
}
.container .nav .nav_in input{
	width: 300px;
	height: 42px;
	border: 0;
	background: #f8f8f8;
	outline: none;
	font-size: 16px;
	z-index: 10;
}
.container .nav .nav_in .serach{
	position: absolute;
	width: 82px;
	height: 42px;
	background:#FF1268; 
	left: 300px;
	top: 0px;
	border-top-right-radius: 27px;
	border-bottom-right-radius: 27px;
	text-align: center;
	line-height: 42px;
	color: #fff;
}
.container .nav .login{
	position: absolute;
	left: 900px;
	top: 20px;
}
.container .nav .login img{
	width: 26px;
	height: 26px;
	padding-left: 40px;
}
.container .nav .login span{
	display: inline-block;
	position: absolute;
	top: 3px;
}
.container .nav .login span:last-of-type{
	right: -50px;
}
.container .content{
	width: 100%;
	height: 700px;
	position: absolute;
	top: 72px;
	border: 1px solid #e9e9e9;
}
.container .detailInstruct{
	position: absolute;
	top: 700px;
	width: 100%;
	border: 1px solid #e9e9e9;
	position: relative;
}
.container .detailInstruct span{
	display: inline-block;
	height: 50px;
	width: 150px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border: 1px solid #e9e9e9;
}
.container .detailInstruct .proDetail{
	margin-left: 20px;
}
