*{margin: 0px;padding: 0px}
a{text-decoration: none}
li{list-style: none}

.container{
	width: 1200px;
	font-size: 14px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	
}
.container .nav{
	width: 100%;
	height: 72px;
	position: absolute;
}

.container .nav  .logo{
	display:inline-block;
	position: absolute;
	top: 10px;
}
.container .nav  .logo img{
	height: 42px;
	width: 92px;
}
.container .nav  .location{
	position: absolute;
	left: 150px;
	top: 25px;
	
}
.container .nav  .location img:first-of-type{
	width: 12px;
	height: 14px;
	margin-left: 3px;
}
.container .nav  .location span{
	margin-left: 3px;
}
.container .nav .location img:last-of-type{
	width: 9px;
	height: 5px;
	margin-left:3px;
	position: absolute;
	left: 55px;
	top: 8px;
}
.container .nav .shouYe{
	position: absolute;
	left: 250px;
	top: 25px;
}
.container .nav .shouYe a{
	color: black;
}
.container .nav .shouYe a:hover{
	color: red;
	cursor: pointer;
}
.container .nav .nav_in{
	position: absolute;
	right: 400px;
	top: 13px;
}
.container .nav .nav_in div:first-of-type{
	position: absolute;
	width: 50px;
	height:42px;
	border-bottom-left-radius: 27px;
	border-top-left-radius: 27px;
	background: #f8f8f8;
	left: -50px;
}
.container .nav .nav_in div img{
	position: absolute;
	width: 17px;
	height: 18px;
	left: 20px;
	top: 12px;
}
.container .nav .nav_in input{
	width: 300px;
	height: 42px;
	border: 0;
	background: #f8f8f8;
	outline: none;
	font-size: 16px;
	z-index: 10;
}
.container .nav .nav_in .serach{
	position: absolute;
	width: 82px;
	height: 42px;
	background:#FF1268; 
	left: 300px;
	top: 0px;
	border-top-right-radius: 27px;
	border-bottom-right-radius: 27px;
	text-align: center;
	line-height: 42px;
	color: #fff;
}
.container .nav .login{
	position: absolute;
	left: 900px;
	top: 20px;
}
.container .nav .login img{
	width: 26px;
	height: 26px;
	padding-left: 40px;
}
.container .nav .login span{
	display: inline-block;
	position: absolute;
	top: 3px;
}
.container .nav .login span:last-of-type{
	right: -50px;
}
.container .allCity{
	height: 150px;
	border: 1px solid #e9e9e9;
	position: absolute;
	top: 120px;
	width: 75%;
}
.container .allCity .city{
	height: 25%;
}
.container .allCity  span{
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;
	height: 20px;
	text-align:center;
	cursor: pointer;
}
.container .allCity .city span:nth-child(2){
	background-color: blue;
}
.container .allCity  span:hover{
	background-color: blue;
}
.container .allCity .type{
	height: 25%;
}
.container .allCity .item{
	height: 25%;
}
.container .serach_sort{
	position: absolute;
	top: 300px;
	width: 75%;
	height: 35px;
	border: 1px solid #e9e9e9;
	line-height: 35px;
	background: #f5f5f5;
}
.container .serach_sort ul li{
	float: left;
	padding: 0 10px;
}
.container .serach_sort ul li:nth-child(2){
	background: #fff;
}
.container .serach_sort ul li.sort_li{
	cursor: pointer;
	border: 1px solid #e9e9e9;
}
.container .serach_sort ul li.sort_li:hover{
	background: #fff;
}

.container .serach_sort ul li:nth-child(5) i{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url(images/sort.png) no-repeat;
	float: right;
	cursor: pointer;
}
.container .serach_sort ul li:nth-child(5) i:first-of-type{
	background-position:-80px 10px;
}
.container .serach_sort ul li:nth-child(5) i:last-of-type{
	background-position:-30px 10px;
	background: #ed0a75;
}
.container>ul{
	position: absolute;
	top: 350px;
	width: 75%;
}
